<div class="row">
"<div class=""col-md-6"">
    <h3>Day 1</h3>
    <table class=""table table-striped"">
      <tr> <td>09:00 AM</td>  <td>Introduction</td> </tr>"
      <tr> <td>09:10 AM</td>  <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop Survey</a></td> </tr>
      <tr> <td>09:15 AM</td>  <td><a href="http://swcarpentry.github.io/shell-novice/setup.html" target="_blank">Check Environment and Setup</a></td> </tr>
      <tr> <td>09:25 AM</td>  <td><a href="http://swcarpentry.github.io/shell-novice/01-intro/index.html" target="_blank">1. Introducing the Shell</a></td> </tr>
      <tr> <td>09:30 AM</td>  <td><a href="http://swcarpentry.github.io/shell-novice/02-filedir/index.html" target="_blank">2. Navigating Files and Directories</a></td> </tr>
      <tr> <td>10:10 AM</td>  <td><a href="http://swcarpentry.github.io/shell-novice/03-create/index.html" target="_blank">3. Working With Files and Directories</a></td> </tr>
      <tr> <td>11:00 AM</td>  <td>Break</td> </tr>
      <tr> <td>11:10 AM</td>  <td><a href="http://swcarpentry.github.io/shell-novice/04-pipefilter/index.html" target="_blank">4. Pipes and Filters</a></td> </tr>
      <tr> <td>11:40 AM</td>  <td><a href="http://swcarpentry.github.io/shell-novice/05-loop/index.html" target="_blank">5. Loops</a></td> </tr>
      <tr> <td>12:10 PM</td>  <td><a href="http://swcarpentry.github.io/shell-novice/06-script/index.html" target="_blank">6. Shell Scripts</a></td> </tr>
      <tr> <td>12:35 PM</td>  <td><a href="http://swcarpentry.github.io/shell-novice/07-find/index.html" target="_blank">7. Finding Things</a></td> </tr>
      <tr> <td>12:55 PM</td>  <td>Wrap-up</td> </tr>
      <tr> <td>01:00 PM</td>  <td>END</td> </tr>

"    </table>
  </div>
  <div class=""col-md-6"">
    <h3>Day 2</h3>
    <table class=""table table-striped"">
      <tr> <td>09:00 AM</td>  <td><a href=""http://swcarpentry.github.io/shell-novice/"" target=""_blank"">Review of Day 1</a></td> </tr>"
      <tr> <td>09:15 AM</td>  <td><a href="http://swcarpentry.github.io/r-novice-inflammation/setup.html" target="_blank">Setup</a></td> </tr>
      <tr> <td>09:30 AM</td>  <td><a href="http://swcarpentry.github.io/r-novice-inflammation/01-starting-with-data/index.html" target="_blank">1. Analyzing Patient Data</a></td> </tr>
      <tr> <td>10:15 AM</td>  <td><a href="http://swcarpentry.github.io/r-novice-inflammation/02-func-R/index.html" target="_blank">2. Creating Functions</a></td> </tr>
      <tr> <td>10:45 AM</td>  <td><a href="http://swcarpentry.github.io/r-novice-inflammation/03-loops-R/index.html" target="_blank">3. Analyzing Multiple Data Sets</a></td> </tr>
      <tr> <td>11:15 AM</td>  <td>Break</td> </tr>
      <tr> <td>11:25 AM</td>  <td><a href="http://swcarpentry.github.io/r-novice-inflammation/04-cond/index.html" target="_blank">4. Making Choices</a></td> </tr>
      <tr> <td>11:55 AM</td>  <td><a href="http://swcarpentry.github.io/r-novice-inflammation/05-cmdline/index.html" target="_blank">5. Command-Line Programs</a></td> </tr>
      <tr> <td>12:05 PM</td>  <td><a href="http://swcarpentry.github.io/r-novice-inflammation/06-best-practices-R/index.html" target="_blank">6. Best Practices for Writing R Code</a></td> </tr>
      <tr> <td>12:25 PM</td>  <td><a href="http://swcarpentry.github.io/r-novice-inflammation/07-knitr-R/index.html" target="_blank">7. Dynamic Reports with knitr</a></td> </tr>
      <tr> <td>12:55 PM</td>  <td>Wrap-up</td> </tr>
      <tr> <td>01:00 PM</td>  <td>END</td> </tr>

"    </table>
  </div>
  <div class=""col-md-6"">
    <h3>Day 3</h3>
    <table class=""table table-striped"">
      <tr> <td>09:00 AM</td>  <td><a href=""http://swcarpentry.github.io/r-novice-inflammation/"" target=""_blank"">Review of Day 2</a></td> </tr>"
      <tr> <td>09:15 AM</td>  <td><a href="http://swcarpentry.github.io/r-novice-inflammation/08-making-packages-R/index.html" target="_blank">8. Making Packages in R</a></td> </tr>
      <tr> <td>09:45 AM</td>  <td><a href="http://swcarpentry.github.io/r-novice-inflammation/09-supp-intro-rstudio/index.html" target="_blank">9. Introduction to RStudio</a></td> </tr>
      <tr> <td>10:00 AM</td>  <td><a href="http://swcarpentry.github.io/r-novice-inflammation/10-supp-addressing-data/index.html" target="_blank">10. Addressing Data</a></td> </tr>
      <tr> <td>10:20 AM</td>  <td><a href="http://swcarpentry.github.io/r-novice-inflammation/11-supp-read-write-csv/index.html" target="_blank">11. Reading and Writing CSV Files</a></td> </tr>
      <tr> <td>10:50 AM</td>  <td><a href="http://swcarpentry.github.io/r-novice-inflammation/12-supp-factors/index.html" target="_blank">12. Understanding Factors</a></td> </tr>
      <tr> <td>11:10 AM</td>  <td>Break</td> </tr>
      <tr> <td>11:20 AM</td>  <td><a href="http://swcarpentry.github.io/r-novice-inflammation/13-supp-data-structures/index.html" target="_blank">13. Data Types and Structures</a></td> </tr>
      <tr> <td>12:05 PM</td>  <td><a href="http://swcarpentry.github.io/r-novice-inflammation/14-supp-call-stack/index.html" target="_blank">14. The Call Stack</a></td> </tr>
      <tr> <td>12:20 PM</td>  <td><a href="http://swcarpentry.github.io/r-novice-inflammation/15-supp-loops-in-depth/index.html" target="_blank">15. Loops in R</a></td> </tr>
      <tr> <td>12:50 PM</td>  <td>Practice and Wrap-up</td> </tr>
      <tr> <td>01:00 PM</td>  <td>END</td> </tr>

"    </table>
  </div>
  <div class=""col-md-6"">
    <h3>Day 4</h3>
    <table class=""table table-striped"">
      <tr> <td>09:00 AM</td>  <td><a href=""http://swcarpentry.github.io/r-novice-inflammation/"" target=""_blank"">Review of Day 3</a></td> </tr>"
      <tr> <td>09:15 AM</td>  <td><a href="http://swcarpentry.github.io/git-novice/setup.html" target="_blank">Setup</a></td> </tr>
      <tr> <td>09:30 AM</td>  <td><a href="http://swcarpentry.github.io/git-novice/01-basics/index.html" target="_blank">1. Automated Version Control</a></td> </tr>
      <tr> <td>09:35 AM</td>  <td><a href="http://swcarpentry.github.io/git-novice/02-setup/index.html" target="_blank">2. Setting Up Git</a></td> </tr>
      <tr> <td>09:40 AM</td>  <td><a href="http://swcarpentry.github.io/git-novice/03-create/index.html" target="_blank">3. Creating a Repository</a></td> </tr>
      <tr> <td>09:50 AM</td>  <td><a href="http://swcarpentry.github.io/git-novice/04-changes/index.html" target="_blank">4. Tracking Changes</a></td> </tr>
      <tr> <td>10:10 AM</td>  <td><a href="http://swcarpentry.github.io/git-novice/05-history/index.html" target="_blank">5. Exploring History</a></td> </tr>
      <tr> <td>10:35 AM</td>  <td><a href="http://swcarpentry.github.io/git-novice/06-ignore/index.html" target="_blank">6. Ignoring Things</a></td> </tr>
      <tr> <td>10:40 AM</td>  <td>7. Remotes in GitHub</td> </tr>
      <tr> <td>11:10 AM</td>  <td><a href="http://swcarpentry.github.io/git-novice/07-github/index.html" target="_blank">Break</a></td> </tr>
      <tr> <td>11:20 AM</td>  <td><a href="http://swcarpentry.github.io/git-novice/08-collab/index.html" target="_blank">8. Collaborating</a></td> </tr>
      <tr> <td>11:45 AM</td>  <td><a href="http://swcarpentry.github.io/git-novice/09-conflict/index.html" target="_blank">9. Conflicts</a></td> </tr>
      <tr> <td>12:00 PM</td>  <td><a href="http://swcarpentry.github.io/git-novice/10-open/index.html" target="_blank">10. Open Science</a></td> </tr>
      <tr> <td>12:05 PM</td>  <td><a href="http://swcarpentry.github.io/git-novice/11-licensing/index.html" target="_blank">11. Licensing</a></td> </tr>
      <tr> <td>12:10 PM</td>  <td><a href="http://swcarpentry.github.io/git-novice/12-citation/index.html" target="_blank">12. Citation</a></td> </tr>
      <tr> <td>12:12 PM</td>  <td><a href="http://swcarpentry.github.io/git-novice/13-hosting/index.html" target="_blank">13. Hosting</a></td> </tr>
      <tr> <td>12:22 PM</td>  <td><a href="http://swcarpentry.github.io/git-novice/14-supplemental-rstudio/index.html" target="_blank">14. Supplemental: Using Git from RStudio</a></td> </tr>
      <tr> <td>12:32 PM</td>  <td>Demo</td> </tr>
      <tr> <td>12:42 PM</td>  <td>Practice</td> </tr>
      <tr> <td>12:50 PM</td>  <td>Wrap-up</td> </tr>
      <tr> <td>12:55 PM</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-Workshop Survey</a></td> </tr>
      <tr> <td>01:00 PM</td>  <td>END</td> </tr>
"    </table>
  </div>
</div>"
